$font-size-title: 26px;
$font-size-name: 13px;
$font-size-secondary: 12px;
$font-size-secondaryMicro: 11px;
$font-size-subtitle: 14px;
$font-size-info: 18px;

$color-surface-main: rgba(250, 250, 250, 1);
$color-surface-secondary: rgba(255, 255, 255, 1);
$color-surface-tertiary: rgba(125, 125, 125, 1);
$color-surface-onTertiary: rgba(235, 235, 235, 1);
$color-surface-rectangle-red: rgba(225, 65, 101, 1);
$color-surface-rectangle-wioletLight: rgba(194, 194, 255, 1);
$color-surface-rectangle-wiolet: rgba(134, 134, 255, 1);
$color-surface-success: rgba(46, 229, 172, 1);
$color-surface-accent: rgba(51, 153, 255, 1);

$color-text-main: rgba(34, 34, 34, 1);
$color-text-name: rgba(71, 71, 71, 1);
$color-text-secondary: rgba(92, 92, 92, 1);
$color-text-secondaryMicro: rgba(153, 153, 153, 1);
$color-text-placeholder: rgba(209, 209, 209, 1);
$color-text-secondary: rgba(29, 35, 41, 0.6);
$color-text-white: rgba(255, 255, 255, 1);
$color-text-online: rgba(27, 218, 157, 1);
$color-text-paused: rgba(255, 131, 70, 1);
$color-text-attention: rgba(254, 72, 72, 1);